# Python 仮想環境
venv/

# Python キャッシュ
__pycache__/
*.pyc

# SQLite データベース
*.db

# Node.js 依存ファイル
node_modules/
.pnp/
.pnp.js

# Reactビルド・テスト・ローカル環境ファイル
/build/
/coverage/
.DS_Store
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
*.log